* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.head{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-radius: 10px;
  font-size: large;
  
}
.footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 130px;
}
/* .button1{
  padding-left: 500px;
    padding-bottom: 20px;
} */